.Title-Header1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
.header2 {
  font-family: 'Roboto', sans-serif;
  font-weight: Bold;
  font-size: 36px;
  letter-spacing: 2%;
}
.header3 {
  font-family: 'Roboto', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  letter-spacing: 2%;
}
.body {
  font-family: 'Roboto', sans-serif;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.Small {
  font-family: 'Roboto', sans-serif;
  font-weight: Regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}
.Medium {
  font-family: 'Roboto', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  text-align: left;
  align;
}
.link {
    color: 434455;
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: underline;
}
