.Title-Header1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
.header2 {
  font-weight: Bold;
  font-size: 18px;
  letter-spacing: 2%;
  color: #4d5ae5;
  line-height: 21px;
}
.header3 {
  font-family: "Raleway", sans-serif;
  font-weight: Medium;
  font-size: 18px;
  letter-spacing: 2%;
  color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  background-color: #ffffff;
  color: #434455;
}
Small {
  font-weight: Regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}
Medium {
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
button {
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  text-align: left;
}
.link {
  color: #2e2f42;
  font-weight: regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
}
