.Title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
header1 {
}
header2 {
}
header3 {
}
.logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.logo-style {
  font-family: "Raleway", sans-serif;
  font-weight: Medium;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  background-color: #ffffff;
  color: #434455;
}
Small {
  font-weight: Regular;
  font-size: 12px;
  line-height: 14;
  letter-spacing: 4%;
}
Medium {
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
button {
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  text-align: left;
}
.link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
